@model List<MyTestMvc.Models.Test1ViewModel>

@{
    ViewBag.Title = "测试：测试javascript冒泡";
}

@section PagePluginStyles{
}
@section PageInlineStyles{
    <style>
        .dd {
            max-width: 100%;
        }
    </style>
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        @if (Model != null && Model.Count > 0)
        {
            <div class="dd dd-draghandle">
                <ol class="dd-list">
                    @foreach (var l1 in Model)
                    {
                        <li class="dd-item dd2-item" data-id="@(l1.Id)">
                            <div class="dd-handle dd2-handle">
                                <i class="normal-icon ace-icon fa fa-comments blue bigger-130"></i>
                                <i class="drag-icon ace-icon fa fa-arrows bigger-125"></i>
                            </div>
                            <div class="dd2-content">
                                <span>@(l1.Name)</span>
                                <div class="btn-group" role="group">
                                    <span class="fa fa-cog" data-toggle="dropdown" role="button"></span>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">编辑</a></li>
                                        <li><a href="#">停用</a></li>
                                        <li><a href="#">上移</a></li>
                                        <li><a href="#">下移</a></li>
                                    </ul>
                                </div>
                                <div class="btn-group pull-right" role="group">
                                    <span class="fa fa-address-book" role="button"></span>
                                    <span class="fa fa-edit" role="button"></span>
                                    <span class="fa fa-cab" role="button"></span>
                                    <span class="fa fa-dashboard" role="button"></span>
                                    <span class="fa fa-android" role="button"></span>
                                </div>
                            </div>
                            @if (l1.Children != null && l1.Children.Count > 0)
                            {
                                <ol class="dd-list">
                                    @foreach (var l2 in l1.Children)
                                    {
                                        <li class="dd-item dd2-item" data-id="@(l2.Id)">
                                            <div class="dd-handle dd2-handle">
                                                <i class="normal-icon ace-icon fa fa-comments blue bigger-130"></i>
                                                <i class="drag-icon ace-icon fa fa-arrows bigger-125"></i>
                                            </div>
                                            <div class="dd2-content">
                                                <span>@(l2.Name)</span>
                                                <div class="btn-group" role="group">
                                                    <span class="fa fa-cog" data-toggle="dropdown" role="button"></span>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">编辑</a></li>
                                                        <li><a href="#">停用</a></li>
                                                        <li><a href="#">上移</a></li>
                                                        <li><a href="#">下移</a></li>
                                                    </ul>
                                                </div>
                                                <div class="btn-group pull-right" role="group">
                                                    <span class="fa fa-address-book" role="button"></span>
                                                    <span class="fa fa-edit" role="button"></span>
                                                    <span class="fa fa-cab" role="button"></span>
                                                    <span class="fa fa-dashboard" role="button"></span>
                                                    <span class="fa fa-android" role="button"></span>
                                                </div>
                                            </div>
                                            @if (l2.Children != null && l2.Children.Count > 0)
                                            {
                                                <ol class="dd-list">
                                                    @foreach (var l3 in l2.Children)
                                                    {
                                                        <li class="dd-item dd2-item" data-id="@(l3.Id)">
                                                            <div class="dd-handle dd2-handle">
                                                                <i class="normal-icon ace-icon fa fa-comments blue bigger-130"></i>
                                                                <i class="drag-icon ace-icon fa fa-arrows bigger-125"></i>
                                                            </div>
                                                            <div class="dd2-content">
                                                                <span>@(l3.Name)</span>
                                                                <div class="btn-group" role="group">
                                                                    <span class="fa fa-cog" data-toggle="dropdown" role="button"></span>
                                                                    <ul class="dropdown-menu">
                                                                        <li><a href="#">编辑</a></li>
                                                                        <li><a href="#">停用</a></li>
                                                                        <li><a href="#">上移</a></li>
                                                                        <li><a href="#">下移</a></li>
                                                                    </ul>
                                                                </div>
                                                                <div class="btn-group pull-right" role="group">
                                                                    <span class="fa fa-address-book" role="button"></span>
                                                                    <span class="fa fa-edit" role="button"></span>
                                                                    <span class="fa fa-cab" role="button"></span>
                                                                    <span class="fa fa-dashboard" role="button"></span>
                                                                    <span class="fa fa-android" role="button"></span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    }
                                                </ol>
                                            }
                                        </li>
                                    }
                                </ol>
                            }
                        </li>
                    }
                </ol>
            </div>
        }
    </div>
</div>

@section PagePluginScripts{
    @Scripts.Render("~/Content/plugins/assets/js/jquery.nestable.js")
}
@section PageInlineScripts{
    <script>
        $(function () {
            $(".dd").nestable();
            $(".dd").nestable("collapseAll");
        });
    </script>
}
