@{
    ViewBag.SiteTitle = "AceApplication";
}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <!-- use the following meta to force IE use its most up to date rendering engine -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title> @ViewBag.Title -@ViewBag.SiteTitle </title>
    <meta name="description" content="@ViewBag.Description" />

    <!-- bootstrap & fontawesome -->
    @Styles.Render("~/Content/plugins/bootstrap/css/bootstrap.min.css", "~/Content/plugins/font-awesome/css/font-awesome.min.css")

    <!-- page specific plugin styles -->
    @RenderSection("PagePluginStyles", required: false)

    <!-- ace styles -->
    @Styles.RenderFormat("<link href=\"{0}\" rel=\"stylesheet\" class=\"ace-main-stylesheet\" id=\"main-ace-style\"/>", "~/Content/plugins/ace/css/ace.min.css")

    <!--[if lte IE 9]>
        @Styles.RenderFormat("<link href=\"{0}\" rel=\"stylesheet\" class=\"ace-main-stylesheet\"/>", "~/Content/plugins/ace/css/ace-part2.min.css")
        @Styles.Render("~/Content/plugins/ace/css/ace-ie.min.css")
    <![endif]-->

    <!-- inline styles related to this page -->
    @RenderSection("PageInlineStyles", required: false)

    <!-- ace settings handler -->
    @Scripts.Render("~/Content/plugins/ace/js/ace-extra.min.js")

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]>
        @Scripts.Render("~/Content/plugins/html5shiv/html5shiv.min.js", "~/Content/plugins/response/response.min.js")
    <![endif]-->
</head>

<body class="no-skin">
    <div class="navbar" id="navbar">
        <!-- navbar goes here -->
    </div>

    <div class="main-container" id="main-container">
        <div class="sidebar responsive" id="sidebar">
            <!-- sidebar goes here -->
        </div>

        <div class="main-content">
            <div class="breadcrumbs">
                <!-- breadcrumbs goes here -->
            </div>

            <div class="page-content">
                <!-- setting box goes here if needed -->

                <div class="row">
                    <div class="col-xs-12">
                        <!-- page content goes here -->
                        @RenderBody()
                    </div>
                </div>

            </div>
        </div>

        <div class="footer">
            <div class="footer-inner">
                <div class="footer-content">
                    <span class="bigger-120">
                        <span class="blue bolder">Ace</span>
                        Application &copy; 2013-2014
                    </span>

                    &nbsp; &nbsp;
                    <span class="action-buttons">
                        <a href="#">
                            <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                        </a>

                        <a href="#">
                            <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                        </a>

                        <a href="#">
                            <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div>

    <!-- list of script files -->
    <!--[if !IE]><!-->
        @Scripts.Render("~/Content/plugins/jquery/jquery.min.js")
    <!--<![endif]-->
    <!--[if IE 9]>
        @Scripts.Render("~/Content/plugins/jquery/jquery.min.js")
    <![endif]-->
    <!--[if lte IE 8]>
        @Scripts.Render("~/Content/plugins/jquery/jquery-1.12.4.min.js")
    <![endif]-->

    @Scripts.Render("~/Content/plugins/bootstrap/js/bootstrap.min.js")

    <!-- page specific plugin scripts -->
    @RenderSection("PagePluginScripts", required: false)

    @Scripts.Render("~/Content/plugins/ace/js/ace-elements.min.js", "~/Content/plugins/ace/js/ace.min.js");

    <!-- inline scripts related to this page -->
    @RenderSection("PageInlineScripts", required: false)
</body>
</html>