@{
    ViewBag.SiteTitle = "AceApplication";
}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <!-- use the following meta to force IE use its most up to date rendering engine -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title> @ViewBag.Title -@ViewBag.SiteTitle </title>
    <meta name="description" content="@ViewBag.Description" />

    <link rel="icon" type="image/png" href="@Url.Content("~/favicon.ico")" />@*href="data:;base64,="*@

    <!-- list of css files -->
    <!-- 1.bootstrap.css -->
    @Styles.Render("~/Content/plugins/bootstrap/css/bootstrap.css")
    <!-- 2.fontawesome.css -->
    @Styles.Render("~/Content/plugins/font-awesome/css/font-awesome.css")<!-- only if needed -->
    <!-- 3.ace-fonts.css -->
    @*@Styles.Render("~/Content/plugins/assets/css/ace-fonts.css")<!-- you can also use google hosted fonts -->*@
    <!-- 4.third party css files -->
    @RenderSection("PagePluginStyles", required: false)<!-- page specific plugin styles -->
    <!-- 5.ace.css -->
    @Styles.RenderFormat("<link href=\"{0}\" rel=\"stylesheet\" class=\"ace-main-stylesheet\" id=\"main-ace-style\"/>", "~/Content/plugins/ace/css/ace.min.css")
    <!-- 6.ace-part2.css -->
    <!--[if lte IE 9]>
        @Styles.RenderFormat("<link href=\"{0}\" rel=\"stylesheet\" class=\"ace-main-stylesheet\"/>", "~/Content/plugins/ace/css/ace-part2.min.css")
    <![endif]-->
    <!-- 7.ace-skins.css -->
    @*@Styles.Render("~/Content/plugins/ace/css/ace-skins.min.css")<!-- only if needed -->*@
    <!-- 8.ace-rtl.css -->
    @*@Styles.Render("~/Content/plugins/ace/css/ace-rtl.min.css")<!-- only if needed -->*@
    <!-- 9.ace-ie.css -->
    <!--[if lte IE 9]>
        @Styles.Render("~/Content/plugins/ace/css/ace-ie.min.css")
    <![endif]-->
    <!-- 10.inline styles -->
    @RenderSection("PageInlineStyles", required: false)<!-- inline styles related to this page -->
    <!-- list of script files -->
    <!-- 1.ace-extra.js -->
    @Scripts.Render("~/Content/plugins/ace/js/ace-extra.min.js")<!-- ace settings handler -->
    <!-- 2.html5shiv.js & respond.js -->
    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]>
        @Scripts.Render("~/Content/plugins/html5shiv/html5shiv.js", "~/Content/plugins/response/response.js")
    <![endif]-->
</head>

<body class="no-skin">
    @Html.Partial("_PartialNavbar")

    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try { ace.settings.check('main-container', 'fixed') } catch (e) { }
        </script>

        @Html.Partial("_PartialSidebar")

        <div class="main-content">
            @Html.Partial("_PartialBreadcrumbs")

            <div class="page-content">
                @Html.Partial("_PartialSetting")

                <div class="row">
                    <div class="col-xs-12">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>

        @Html.Partial("_PartialFooter")

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
        </a>
    </div>

    <!-- list of script files -->
    <!-- 1.jquery.js & jquery1x.js -->
    <!--[if !IE]><!-->
    @Scripts.Render("~/Content/plugins/jquery/jquery.js")
    <!--<![endif]-->
    <!--[if IE 9]>
        @Scripts.Render("~/Content/plugins/jquery/jquery.js")
    <![endif]-->
    <!--[if lte IE 8]>
        @Scripts.Render("~/Content/plugins/jquery/jquery-1.12.4.js")
    <![endif]-->
    <!-- 2.bootstrap.js -->
    @Scripts.Render("~/Content/plugins/bootstrap/js/bootstrap.js")
    <!-- 3.ie8 canvas if required for plugins such as charts, etc -->
    @*<!--[if lte IE 8]>
            @Scripts.Render("~/Content/plugins/assets/js/excanvas.js")
        <![endif]-->*@
    <!-- 4.third party js files -->
    @RenderSection("PagePluginScripts", required: false)<!-- page specific plugin scripts -->
    <!-- 5.ace-elements.js & ace.js -->
    @Scripts.Render("~/Content/plugins/ace/js/ace-elements.min.js", "~/Content/plugins/ace/js/ace.min.js")
    <!-- 6.inline javascripts -->
    @RenderSection("PageInlineScripts", required: false)<!-- inline scripts related to this page -->
</body>
</html>