@{
    ViewBag.SiteTitle = "AceApplication";
}

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <!-- use the following meta to force IE use its most up to date rendering engine -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title> @ViewBag.Title -@ViewBag.SiteTitle </title>
    <meta name="description" content="@ViewBag.Description" />

    <link rel="icon" type="image/png" href="data:;base64,=" />

    <!-- bootstrap & fontawesome -->
    @Styles.Render("~/Content/plugins/bootstrap/css/bootstrap.min.css", "~/Content/plugins/font-awesome/css/font-awesome.min.css")

    <!-- page specific plugin styles -->
    @RenderSection("PagePluginStyles", required: false)

    <!-- ace styles -->
    @Styles.RenderFormat("<link href=\"{0}\" rel=\"stylesheet\" class=\"ace-main-stylesheet\" id=\"main-ace-style\"/>", "~/Content/plugins/ace/css/ace.min.css")

    <!--[if lte IE 9]>
        @Styles.RenderFormat("<link href=\"{0}\" rel=\"stylesheet\" class=\"ace-main-stylesheet\"/>", "~/Content/plugins/ace/css/ace-part2.min.css")
        @Styles.Render("~/Content/plugins/ace/css/ace-ie.min.css")
    <![endif]-->
    <!-- inline styles related to this page -->
    @RenderSection("PageInlineStyles", required: false)

    <!-- ace settings handler -->
    @Scripts.Render("~/Content/plugins/ace/js/ace-extra.min.js")

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]>
        @Scripts.Render("~/Content/plugins/html5shiv/html5shiv.min.js", "~/Content/plugins/response/response.min.js")
    <![endif]-->
</head>

<body class="login-layout light-login">
    <div class="main-container">
        <div class="main-content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <!-- list of script files -->
    <!-- 1.jquery.js & jquery1x.js -->
    <!--[if !IE]><!-->
        @Scripts.Render("~/Content/plugins/jquery/jquery.min.js")
    <!--<![endif]-->
    <!--[if IE 9]>
        @Scripts.Render("~/Content/plugins/jquery/jquery.min.js")
    <![endif]-->
    <!--[if lte IE 8]>
        @Scripts.Render("~/Content/plugins/jquery/jquery-1.12.4.min.js")
    <![endif]-->
    <!-- 2.bootstrap.js -->
    @Scripts.Render("~/Content/plugins/bootstrap/js/bootstrap.min.js")
    <!-- 3.third party js files -->
    @RenderSection("PagePluginScripts", required: false)
    <!-- 4.inline javascripts -->
    @RenderSection("PageInlineScripts", required: false)
</body>
</html>
